.titulo{
   text-align: center;
}

#descarga{
    width: 100%;
}

.principal{
    background:#CCCCCC ;
    padding: 20px;
}

p{

    text-align: center;
}

em strong{

    color: red ;
}

.difereciales{

background:white;
padding: 30px;
}

h3{

text-align: center;
}

#aqui{
    font-size: 20px;
}
.items{
font-style: italic;
}


ul{
display: inline-block;
vertical-align: top;
width: 20%;
margin-right: 15%;
}

.idifereciales{
width: 60%;

}
